.footer-title {
    text-align: start;
    padding: 70px;
    color: white;
    background-color: rgba(8,8,8, 0.9);
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


